/* blue: #55A4F2 and #1071D1  */
/* red: #EE3030 and #CC0E0E */
/* green: #87C442 and  */


/* WORDPRESS PAGES */
a {color: #55A4F2;}
a:hover {color: #1071D1;text-decoration:none;}
#content header:first-child {border-bottom: 2px solid #eee;margin-bottom: 20px;}
.woo-sc-hr {border-bottom: 1px dotted #ddd;}
h1, h2, h3, h4, h5, h6 {font-family: 'Arvo', arial, sans-serif;}
#header #logo img {width:90px; height:47px;}
#header {background:url('../../../images/stripes_light.png') repeat;border:none;border-top:1px solid #ddd;padding: 2em 0 3.8em;box-shadow:none;margin-top:0px;}
#wrapper {border-top:1px solid #ddd;box-shadow:none;margin-bottom:0px;}
#content {padding: 0 0 3em;}
#wrapper #searchbar {display:none;}
#footer-widgets {background:#f1f1f1;border-top: 1px dashed #c5c5c5;padding-bottom:0px;}
#footer-widgets h3 {margin:10px 0 20px;}
#footer-widgets .widget {min-height: 135px;}
#footer-widgets .block .widget:last-child {margin-bottom:0px;}
#footer, #footer a {color: #999;}
#features {background:url('../../../images/stripes_light.png') repeat;border: 5px solid #ECECEC;border-radius: 0px;}
.nav a {text-transform:none;}
.post .post-meta, .search-results .page .post-meta, .post .post-more, .search-results .page .post-more, .post p.tags, .search-results .page p.tags {text-transform: none;font-weight:normal;}
#homepage-top {margin: 0px;}
h1.section-heading {text-transform: none;font-family: 'Arvo', arial, sans-serif;font-weight: normal;}
h1 {margin-bottom: 20px;font-family: 'Arvo', arial, sans-serif;}
#fancybox-close {line-height: 27px!important;font-size: 21px!important;}
.post .post-meta a:link, .search-results .page .post-meta a:link, .post .post-more a:link, .search-results .page .post-more a:link, .post p.tags a:link, .search-results .page p.tags a:link, .post .post-meta a:visited, .search-results .page .post-meta a:visited, .post .post-more a:visited, .search-results .page .post-more a:visited, .post p.tags a:visited, .search-results .page p.tags a:visited {color:#EE3030;}
.archive_header {padding: 10px 0px;font-family: "Arvo", arial, sans-serif;text-transform: none;font-weight:normal;}
#searchform input.search-submit, .searchform input.search-submit {width: 18px;height: 18px;background: url('../shelflife/images/ico-search.png') no-repeat;text-indent:-9999em;}
#wp-admin-bar .padder {padding: 0 10px;}
.post, .search-results .product {border-bottom: 1px dotted #ddd;margin: 0 0 3em;padding: 0 0 2em;}
#connect .related-posts h4 {font-family: 'Arvo', arial, sans-serif;text-transform: none;font-weight: normal;font-size: 1.3em;margin-top: -30px;line-height: 1.5em;}
#post-author .profile-link {text-transform: none;display:none;}
#navigation .mini-cart a.cart-parent span {font-family: "Arvo", sans-serif;}
#more .more-products-link {padding-bottom: 30px;border-bottom: 2px dotted #DDD;}
.post .wp-caption, .search-results .page .wp-caption {border-radius: 0px;box-shadow: none;}
.post .wp-caption-text, .search-results .page .wp-caption-text {font-style: italic;}
#homepage-top #promo .flexslider ul.slides li article h1 a {text-transform: none;}
.product .post-meta, .search-results .page .post-meta {margin: 0 0 2em;font-size: 0.8em;}
.product .post-meta li {display:inline;}
.product .post-meta li.post-category, .product .post-meta li.post-author {display:none;}
.attachment .post-meta, .attachment #post-author, .attachment #connect {display:none;}
.post header h1, .post header h1 a:link, .post header h1 a:visited, .page header h1, .page header h1 a:link, .page header h1 a:visited, .product header h1, .product header h1 a:link, .product header h1 a:visited {font: bold 30px/1em 'Arvo', arial, sans-serif;color: #3E3E3E;}
.product .post-meta li.post-date {background-image: url('../../../images/bp_icons.png');padding: 2px 0 2px 25px;background-repeat: no-repeat;background-position: -727px -1057px;}
#post-entries {border: none;background: none;border-bottom:1px dotted #ddd;padding-bottom:2em;}
#post-entries a {font-weight:normal;color: #EE3030;border: none;background: none;}
#post-entries a:hover {color: #CC0E0E;text-decoration: underline;}
#connect {margin: 0 0 1.5em;}
#post-author {margin: 0 0 2.5em;}
.woo-pagination {border:none;background:none;}
.woocommerce .woo-pagination {width:95%;}
a.button, a.comment-reply-link, #commentform #submit, .submit, input[type="submit"], input.button, button.button, .shortcode-sale a {padding: 3px;margin:4px;box-shadow:none;font: normal 14px 'Open Sans', arial, sans-serif;text-transform: none;font-weight:bold;}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {background-color: #000;}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {background-color: #000;}
iframe.video {width:100%;height:500px;}
iframe.videosmall {width:450px;height:255px;}
#header #woo_search-2 {margin: 7px 0 0 0;width: 280px;float: right;background: #fff;}
.striped-inlay {clear:both;padding:20px;background:url('../../../images/stripes_light.png') repeat;border:5px solid #ececec;min-height:130px;margin:40px 0;}
.normal-inlay {clear:both;margin:40px 0;min-height:250px;}
.sponsor {min-height:290px;}
.entry h3:first-child {margin-bottom: 20px;}
.champion-step {margin:90px 0px;}
.champion-step:first-child {margin-top:40px;}
body.register .searchform .register-section input, body.register .searchform input[type="text"] {border: none;box-shadow: none;padding: 8px;margin: 0px;}
#features article h1 {font-family: 'Arvo', arial, sans-serif;font-size: 1.2em;font-weight:normal;}
#register-page h2:first-child {margin-bottom:20px;}
.follow-buttons { padding: 0px; float:right;margin:3px 0 0 20px; }
.follow-buttons a{ display: inline-block; width: 40px; height: 40px; margin-right: 5px; background-position: 0 0; background-repeat: no-repeat; text-indent: -9999px; cursor: pointer; }
.follow-buttons a:hover { background-position: 0 -40px; }
.follow-buttons .twitter { background-image: url("../../../images/btn_twitter.png");}
.follow-buttons .fbook { background-image: url("../../../images/btn_fbook.png");}
ul.products li.product {list-style-type:none;}
.top-hint {float:left;font-family:'Rock Salt', arial, sans-serif;font-weight:bold;font-size:1.2em;background:url("../../../images/hint_arrow_2.png") bottom center no-repeat;height:75px;margin:0px 0 0 -190px;-webkit-transform: rotate(-10deg);-moz-transform: rotate(-10deg);}
.bottom-hint {float:right;font-family:'Rock Salt', arial, sans-serif;font-weight:bold;font-size:1.2em;background:url("../../../images/hint_arrow.png") bottom center no-repeat;height:75px;margin:0px -190px 0 0;-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);}
.right {float:right;}
.woocommerce-page h1.page-title {font: bold 30px/1em 'Arvo', arial, sans-serif;color: #3E3E3E;padding-bottom:10px;border-bottom: 2px solid #EEE;margin-bottom: 20px;}
.idea-break {margin-bottom:20px;}
.idea-break:last-child {margin-bottom:50px;}
.post-38 .striped-inlay {margin:50px 0 0 0;}
.entry .go-steps {font-family:'Rock Salt', arial, sans-serif;font-size:1.1em;font-weight:bold;}
.entry .go-steps a:hover {text-decoration:none;}
.error_message {margin:40px 0;}
.page .alignleft {float: left;margin: 0 20px 10px 0;}
.page .alignright {float: right;margin: 0 0 10px 20px;}
.page .aligncenter {display: block;text-align: center;margin-bottom: 15px;margin: 0 auto 15px;}
.nav a {padding: 16px 21px;}
#wp-admin-bar li#bp-adminbar-help-menu {background:none;}
.post-246922274 header h1 {text-indent:-9999em;background-image: url('../../../images/clearwater_logo.png');background-repeat: no-repeat;height:45px;}
.page-id-246922274 table.gadget td {border:none;padding:0px;}
.page-id-246922274 table.gadget tr.alt-table-row {display:none;}
#logindiv {padding:5px 0 0 25px; float:right;}
@media only screen and (max-width: 767px) {
  /* iPhone landscape & down */
  #logindiv {
    padding:5px 0 0 25px;
    float:right;
  }
 }


/* WIDGETS */
.widget_product_tag_cloud h3 {display:none;}
.widget_login h3, .widget_shopping_cart h3, .widget_price_filter h3, .widget_layered_nav h3 {color:#fff;text-shadow: none;}
.widget_shopping_cart ul.cart_list li {font-family: 'Arvo', arial, sans-serif; font-size: 0.9em;}
.widget_shopping_cart ul.cart_list li a {text-transform:none;font-weight:normal;}
.widget_shopping_cart p.total {font-family: 'Arvo', arial, sans-serif;font-size: 1.1em;}
.widget_login .button, .widget_shopping_cart .button, .widget_price_filter .button, .widget_layered_nav .button, .widget_login .submitbutton, .widget_shopping_cart .submitbutton, .widget_price_filter .submitbutton, .widget_layered_nav .submitbutton {font-family:'Open Sans', arial, sans-serif;font-size:0.9em;}
.widget_woo_flickr a img {margin: 0px 10px 0px 0px;}
.widget ul li a {color: #EE3030;line-height:1em;}
.widget_woo_twitter .back {border: none;background:none;border-radius: 0px;}
.widget_woo_twitter ul li .content {font-size: 1em;font-family: 'Open Sans', arial, serif;}
.widget_woo_twitter ul li .time {color: #999;display: block;margin-top: 10px;}
.widget_woo_twitter ul li {border:none;}
.widget_woo_twitter h3 {margin: 5px 5px 5px 15px;border-bottom: 1px dotted #DDD;padding: 0 0 10px;}
.widget_woo_twitter p {display:none;}
#tabs {background: none;border: none;}
#tabs .inside {background: none;border: none;margin:0 15px;border-top:1px dotted #DDD;}
#tabs .inside li {border: none;padding: 15px 0 0 0;}
#tabs .inside li a {color: #ee3030;font-weight: normal;}
#tabs .inside li span.meta {font-family: 'Open Sans', arial, sans-serif;font-size:0.9em;}
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover {background: none;}
#tabs ul.wooTabs li a {color: #ccc;border: none;font-family:'Arvo', arial, sans-serif;font-size:1.2em;padding:0 0 10px 15px;font-weight:normal;}
#tabs ul.wooTabs li a.selected {color: #3E3E3E;font-weight: bold;}
.widget_layered_nav li .count {margin-top:-6px;}
.widget_layered_nav li {padding:5px 0;}
.widget_layered_nav h3 {margin-bottom:10px;}
.widget_layered_nav li span {margin-left: 10px;color: #666;}
#location_logo{float:left;background:url('https://groundworkopportunities.org/wp-content/uploads/2014/04/location_logo.png') 0px -25px no-repeat;width:22px;height:25px;text-indent:-9999em;padding-left:15px;margin-top:3px;}
#location_logo:hover{background-position:0px 0px;}
#twitter_logo{float:left;background:url('../../../images/twitter_logo.png') 0px -25px no-repeat;width:22px;height:24px;text-indent:-9999em;padding-left:15px;margin-top:3px;}
#twitter_logo:hover{background-position:0px 0px;}
#facebook_logo{float:left;background:url('../../../images/facebook_logo.png') 0px -25px no-repeat;width:22px;height:23px;text-indent:-9999em;padding-left:15px;margin-top:3px;}
#facebook_logo:hover{background-position:0px 0px;}
#gmail_logo{float:left;background:url('../../../images/gmail_logo.png') 0px -17px no-repeat;width:22px;height:19px;text-indent:-9999em;padding-left:15px;margin-top:6px;}
#gmail_logo:hover{background-position:0px 1px;}
#email{width:75%;font-size:11px;float:left;color:#999;}
#email_submit{float:left;background:url('../../../images/submit.png') no-repeat 0 0;border:0;width:15px;height:17px;cursor:pointer;text-indent:-9999em;margin:4px 0 0 10px;font-size:16px;color:#fff;-webkit-appearance:none;-webkit-border-radius:0px;}
#email_submit:hover{background-position:0 -19px;}
.widget_categories {padding:0 15px;}
.widget_categories h3, .widget_best_sellers h3 {margin: 5px 0 15px;border-bottom: 1px dotted #DDD;padding: 0 0 10px;}
.widget ul.product_list_widget {border: none;border-radius: 0px;background: none;box-shadow: none;}
.widget ul.product_list_widget li {padding: 0px;border:none;}
.widget ul.product_list_widget li a {font-size: 1em;text-shadow: none;line-height: 1.2;color: #EE3030;font-weight: normal;}


/* BUDDYPRESS PAGES */
#bp #item-header #item-header-content {margin-top: 0px;height:160px;}
#bp #item-header img.avatar {border:5px solid #eee;}
#bp #item-header #item-header-content h2 {padding: 5px 0 10px 0;border-bottom: none;font-size: 2.2em;font-family: 'Arvo', arial, sans-serif;line-height: 1.2em;color: #666;margin: 0px;}
#bp #whats-new-form h5 {font-weight: normal;color:#999;}
#bp #message p, #bp #item-body .profile .bp-widget table, #bp #item-body .profile .bp-widget table td {border:none;}
#bp #item-body .profile #profile-edit-form .button-nav {border-bottom: 1px solid #E6E6E6;padding-bottom: 2px;}
#bp #item-body .profile #profile-edit-form label {display:block;font-weight:bold;}
#bp #item-body .profile #profile-edit-form .submit {padding: 0px;}
#bp #item-body .profile #profile-edit-form textarea, #bp #item-body .profile #profile-edit-form input {width:98%;}
#lab #item-header img.avatar {box-shadow:none;}
#bp #item-body .profile .bp-widget h4 {display:none;}
#bp #item-body .profile .bp-widget td.label {vertical-align: top;}
#bp #item-body .profile .bp-widget tr {border-bottom: 1px dotted #ddd;}
#bp #item-body .profile .bp-widget td.label, #bp #item-body .profile .bp-widget td.data {padding: 12px 10px;}
#bp .pagination {font-weight: normal;text-transform: none;}
#bp #activity-stream .activity-meta a {margin: 0 5px 10px 0;text-transform: none;padding: 3px;}
#lab ul.item-list li {border-bottom: 1px dotted #ddd;}
#lab ul.item-list li:last-child {border-bottom: none;}
#bp #signup_form h4 {margin: 20px 0 10px 0;padding: 0 0 2px;border-bottom: 1px dotted #DDD;font-size: 1.3em;}
#bp #signup_form .editfield {border-bottom: none;padding:5px 0;}
#signup_form > p {margin-top:20px;}
#bp input#signup_submit {padding: 0px;}
#bp #item-header .champion-project {background-image: url('../../../images/bp_icons.png');background-repeat: no-repeat;background-position: -730px -343px;font-style: italic;color: #999;padding: 0 0 0 18px;}
#bp #item-header .champion-stats {display:block;font-family: 'Open Sans', arial, sans-serif;}
#bp #item-header .donate-champion {float:right;}
#bp #item-header .donate-champion button.button, .single-product .summary .become-champion button.button, .become-a-champion button.button {font-size:1.1em;margin-top:10px;text-transform:uppercase;padding: 3px 20px;background: -webkit-gradient(linear, left top, left bottom, from(#EE3030), to(#CC0E0E));background: -webkit-linear-gradient(#EE3030, #CC0E0E);background: -moz-linear-gradient(center top, #EE3030 0%, #CC0E0E 100%);background: -moz-gradient(center top, #EE3030 0%, #CC0E0E);border-color:#CC0E0E;}
#bp #item-header .progress-bar {background: #eee;height: 8px;width: 100%;display: block;float: left;margin: 15px 0 15px 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow:hidden;}
#bp #item-header .progress-bar-loader {background:#87C442;height:8px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow:hidden;}
#bp #item-header .item-header-box {float: left;margin: 5px 10px 5px 0;padding: 0 10px 0 0;border-right: 1px solid #DDD;}
#bp #item-header #time-left.item-header-box {border: none;margin-right: 15px;}
#bp #item-header .item-header-box .big{font-size: 1.5em;color: #222;font-weight: bold;margin-top:2em;}
#bp #item-header .item-header-box .small {font-size: 1em;color: #999;line-height:1em;display:block;}
#bp #item-header #item-meta {display:none;}
#bp #item-body .profile #profile-edit-form .editfield .description {width: 100%;font-style: italic;}
#bp #item-body .profile #profile-edit-form .editfield {padding: 10px 0 30px 0;}
#bp #item-body .profile .bp-widget td.label {width: 15%;}
.champion-video {
  margin: 20px 0px;
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
.champion-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
#bp #item-body .profile #profile-edit-form .field_idea-url, #bp #item-body .profile #profile-edit-form .field_idea, #bp #item-body .profile #profile-edit-form .field_goal {display:none;}
#bp #item-body .profile tr.field_video, #bp #item-body .profile tr.field_idea, #bp #item-body .profile tr.field_goal, #bp #item-body .profile tr.field_idea-url {display:none;}
*/
#bp #item-body .profile tr.field_inspiration p {margin-top:20px;}
#bp #item-body .profile tr.field_inspiration p:first-child {margin-top:0px;}
#bp #item-body .profile textarea#field_5 {height:250px;}
#bp #signup_form .editfield .description {padding: 0%;}
#bp #item-header #message {clear: both;margin: 20px 0 0 0;}
#bp #settings-form .submit {padding: 0px;box-shadow:none;margin-top:20px;display: block;width: 105px;}
#bp #settings-form .submit input {box-shadow:none;}
#bp #settings-form label {text-transform:none;clear:both;}
#bp h3 {margin-bottom: 20px;}
.donate_symbol {float:left;margin:15px 5px 0 0;color:#999;}
#item_price_1 {color:#999;width:30px;}
body.members #bp .item-list-tabs {display:none;}
body.members #bp #members-directory-form h3, body.activate #bp #activate-page h3, body.activate #bp #activate-page h2, body.register #bp #register-page h1, body.register #bp #register-page h2 {font: bold 30px/1em 'Arvo', arial, sans-serif;color: #3E3E3E;border-bottom: 2px solid #eee;margin-bottom: 20px;padding-bottom:0.5em;}
body.activate #bp #activate-page #message.error {margin-top:30px;}
body.members #bp {margin-bottom:50px;}
body.members #bp .dir-search {margin:0px;padding:0px;}
#bp ul.item-list li .item .item-meta {float:none;color: #999;font-style: italic;}
#lab ul.item-list li .action {margin-top: -20px;}
#item-header-social {float:right;margin:15px -25px 0 0;}
.fb-like, .twitter-share-button {float:left;}
#bp #item-header {overflow: visible;}


/* BUDDYPRESS NAVIGATION */
#bp .item-list-tabs {background: #222;color:#ccc;border-bottom: 2px solid #EE3030;}
#bp .item-list-tabs ul li a#user-activity {background-image: url('../../../images/bp_icons.png');background-repeat: no-repeat;background-position: -717px -911px;padding: 9px 15px 11px 35px;}
#bp .item-list-tabs ul li a#user-xprofile {background-image: url('../../../images/bp_icons.png');background-repeat: no-repeat;background-position: -717px -1218px;padding: 9px 15px 11px 35px;}
#bp .item-list-tabs ul li a#user-wall {background-image: url('../../../images/bp_icons.png');background-repeat: no-repeat;background-position: -713px -1113px;padding: 9px 15px 11px 40px;}
#bp .item-list-tabs ul li a#user-friends {background-image: url('../../../images/bp_icons.png');background-repeat: no-repeat;background-position: 9px -1523px;padding: 9px 5px 11px 35px;}
#bp .item-list-tabs ul li a#user-settings {background-image: url('../../../images/bp_icons.png');background-repeat: no-repeat;background-position: -717px 7px;padding: 9px 15px 11px 35px;}
#bp .item-list-tabs ul li a {font: 13px 'Open Sans', arial, sans-serif;color: #999;line-height: 40px;}
#bp .item-list-tabs ul li a:hover {color: #EE3030;background-color:transparent;}
#bp .item-list-tabs ul li a:hover span {color:#fff;}
#bp .item-list-tabs ul li.selected a, #bp .item-list-tabs ul li.current a {color:#fff;font-weight:bold;background-color:#111;}
#bp ul li a#user-friends span {background:#111;border:none;font-weight:normal;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;font-size:.85em;padding: 2px 13px;margin-left: 5px;}
#bp ul li.selected a span, #bp ul li.current a span {background:#000;color:#fff;}
#bp #subnav {background:url('../../../images/stripes_light.png') repeat;border:none;border-bottom:1px solid #ddd;margin-bottom:30px;height:24px;}
#bp #subnav ul li a {font: 13px 'Open Sans', arial, sans-serif;color: #888;font-size: 1em;}
#bp #subnav ul li a:hover {color: #222;background: none;}
#bp #item-body #subnav ul li.selected a, #bp #item-body #subnav ul li.current a {font-weight:bold;background:none;}
#-personal-li, #wp-admin-bar ul li ul a#bp-admin- {display:none;}
#bp #item-body #subnav ul li a#inbox {display:none;}


/* WOOCOMMERCE PAGES */
#product-246921631 .become-champion, #product-246922173 .become-champion, #product-246922646 .become-champion {display:none;}
.products li.info {margin-top: 20px;padding-left:50px;}
.woocommerce_message, #message.updated {border:none;border-radius:0px;border-top:1px solid #D4EBAF;border-bottom:1px solid #D4EBAF;background-color: #EDFCD5;color:#555;}
ul.woocommerce_error {border:none;border-radius:0px;border-top:1px solid #F0BAA2;border-bottom:1px solid #F0BAA2;background-color: #FFD9C8;color:#555;padding: 8px 32px;}
.gform_validation_error .validation_error {display:none;}
.gform_body .validation_message, .register-section .error {background: url(../shelflife/images/ico-error-small.png) 1em 0.95em no-repeat;border:none;border-radius:0px;border-top:1px solid #F0BAA2;border-bottom:1px solid #F0BAA2;background-color: #FFD9C8;color:#555;padding: 8px 32px;margin:10px 0;}
ul.woocommerce_error li {list-style-type:none;}
#message.info, li.info, p.info {border:none;border-radius:0px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;background: #EEE url('../shelflife/functions/images/ico-info.png') no-repeat 20px 45%;color:#555;box-shadow:none;}
p.info {padding-left:50px;}
.term_description {margin: 20px 0px;}
ul.products li.product img {height: auto;width: 100%;border: 3px solid #fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);}
ul.products li.product img:hover {box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);}
.product_meta .posted_in {display:block;}
table.cart td.product-name a {font-size: 1em;}
table.cart td.actions .checkout-button {font-weight:bold;}
#navigation ul.mini-cart li ul.cart_list li.empty {font-size:0.8em;}
#navigation ul.mini-cart li ul.cart_list li.cart-title h3 {font-size: 1.1em;text-transform:none;}
#navigation ul.mini-cart li ul.cart_list li.cart_list_product a {font-size: 0.9em;font-weight: normal;text-transform: none;}
#navigation ul.mini-cart li ul.cart_list li.buttons .button {font-family: 'Open Sans', arial, sans-serif;}
.create-account {clear:both;}
table.shop_table {margin-bottom:1.2em;}
#bp .submit input {padding: 0px;}
.single-product .images .thumbnails a, .single-product .images .thumbnails a.last {width: 15%;margin-right: 3%;float: left;}
.single-product .summary .become-champion {padding:10px 0;border-bottom: 1px dotted #DDD;}
.single-product .summary .product_meta {border-top: 1px dotted #ddd;}
.single-product .summary form.cart {margin: 1em 0 1.2em;}
table.cart .product-thumbnail {padding: .5em;}
table.cart img {width: 3em;}
.single-product .summary .description {padding-bottom:10px;border-bottom: 1px dotted #ddd;}
.gform_wrapper .top_label .gfield_label {font-weight: bold;}
.single-product .summary form.cart .button {padding: 5px 15px;margin-left:5px; background-image: none; background-color: #000;};
.gfield_required {display:none;}
.related h2, .upsells h2 {margin-bottom:1em;}
ul#gform_totals_1 {margin-bottom:20px;}

#main .idea-stats {display:block; float: left; font-family: 'Arvo', arial, sans-serif; padding: 10px; width: 425px; border: 0px;}
#main .idea-stats-small {display:block; float: left; font-family: 'Arvo', arial, sans-serif; padding: 10px; width: 90%; border: 0px;}
h3.truncate {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#main .progress-bar {background: #eee;height: 8px;width: 100%;display: block;float: left;margin: 15px 0 15px 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow:hidden;}
#main .progress-bar-loader {background:#87C442;height:8px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;overflow:hidden;}
#main .item-header-box {float: left;margin: 5px 10px 5px 0;padding: 0 10px 0 0;border-right: 1px solid #DDD;}
#main #time-left.item-header-box {border: none;margin-right: 15px;}
#main .item-header-box .big{font-size: 1.5em;color: #222;font-weight: bold;margin-top:2em;}
#main .item-header-box .small {font-size: 1em;color: #999;line-height:1em;display:block;}
#main #item-meta {display:none;}


table.shop_table input.button {background-color: #000;}
table.shop_table input.button:hover {background-color: #000;}
div.donate-champion div.validation_message {margin-left: 0px !important; text-align: right;}

/* SCREEN SPECIFIC */
@media only screen and (max-width: 1023px) {
	#connect .related-posts h4 {margin-top:0px;}
}
@media only screen and (max-width: 900px) {
	#header #logo {margin-left: 20px;}
	#header .follow-buttons {margin-right: 20px;}
	.striped-inlay {min-height:160px;}
	iframe.video {height:385px;}
}
@media only screen and (max-width: 767px) {	
	#header #woo_search-2 {margin:20px 20px 0 0;}
	#wp-admin-bar #admin-bar-logo {display:none;}
	#bp #item-header .donate-champion {float:left;margin:10px 0 0 -5px;}
	.bottom-hint, .top-hint {display:none;}
	iframe.alignright.videosmall {height:159px;width:100%;margin:10px 0 20px 0;}
	iframe.video {height:132px;width:100%;}
	.hint, .top-hint, .bottom-hint {display:none;}
	.twocol-one, .threecol-one, .threecol-two, .fourcol-one, .fourcol-two, .fourcol-three, .fivecol-one, .fivecol-two, .fivecol-three, .fivecol-four, .sixcol-one, .sixcol-two, .sixcol-three, .sixcol-four, .sixcol-five {float: none;margin: 0px;width:100%;}
	.woo-pagination {padding: 10px 0px;}
	#item-header-social {float:left;margin:0 0 10px 0;width:100%;}
}
@media only screen and (min-width: 768px) {
	#customer_details .col-1 {padding-right: none;border-right: none;width:100%;}
	.woocommerce-page #sidebar {margin-top:40px;}
	.home-page ul.products li.product, .post-type-archive-product ul.products li.product, .tax-product_cat ul.products li.product, .tax-product_tag ul.products li.product, .single-product ul.products li.product {width: 31%;margin-right:3%;}
	#main {width:100%;min-height:350px;}
	.woocommerce .woocommerce_ordering {float: none;text-align: center;width: 99%;}
}
@media only screen and (max-width : 320px) {
	/* Champions profile pages */
	#bp #item-header #item-header-avatar { clear: both; }
	#bp #item-header #item-header-content { margin-left: 0; clear: both; width: 96%; }
	#bp #item-nav, #bp #subnav, #bp #item-body .profile { width: 96%; }
	#bp #item-header .donate-champion { float: right; }
	#bp #item-header .donate-champion button.button { font-size: 1em; margin-top: 0px; margin: 0; margin-bottom: 10px; }
	#bp #item-body .profile { width: 96%; }
	#bp #item-body .profile .bp-widget td.label { text-align: left; padding: 0; }
	#bp  #item-body .profile .bp-widget td.data { padding: 0; padding-left: 10px; font-size: 0.9em; }
	#dev_menu { display:none; } /* this causes a problem with the horizontal scrollbar in dev environment */
	#bp #item-body .profile .bp-widget table { width: 96%; }
}

